---
layout: page
title: Grammar Lessons
permalink: /grammar/
---
# Grammar Lessons

Below is the list of grammar lesson files found in the repository under the 'grammar/' folder.

<ul>
{% assign grammar_files = site.static_files | where_exp: "file", "file.path contains '/grammar/'" %}
{% for f in grammar_files %}
  {% if f.name contains '.md' %}
    {% assign name = f.name | remove: '.md' %}
    <li><a href="{{ '/grammar/' | append: name | append: '.html' | relative_url }}">{{ name | replace: '-', ' ' | capitalize }}</a></li>
  {% endif %}
{% endfor %}
</ul>
